@import "../../styles/mixins";
.home-page{
    padding-inline: 20px;
    @include for-normal-layout {
        padding-inline: 40px;
    }
    .add-travel-btn{
        margin-block-end: 40px;
        padding: 8px 14px;
        border:transparent;
        border-radius: 50vw;
        cursor: pointer;
    }
}